<%- include('./partials/head.ejs') %>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quidem, obcaecati at accusantium optio odit, quam deserunt a, fugit qui sunt porro? Quibusdam voluptatibus sed, vero ullam molestiae vel pariatur.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quidem, obcaecati at accusantium optio odit, quam deserunt a, fugit qui sunt porro? Quibusdam voluptatibus sed, vero ullam molestiae vel pariatur.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quidem, obcaecati at accusantium optio odit, quam deserunt a, fugit qui sunt porro? Quibusdam voluptatibus sed, vero ullam molestiae vel pariatur.</p>
    </div>
    <%- include('./partials/footer.ejs') %>